.input-column, .output-column {
  text-align: center;
}

#header {
  text-align: center;
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 50px;
}

#input-box {
  text-align: left;
  width: 60%;
}

#output-box {
  text-align: left;
}